name: Cypress Daily Run

on:
  workflow_dispatch:      # Manual trigger
  schedule:
    - cron: "0 0 * * *"   # Runs daily at midnight

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd final_cypress_project
          npm install

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: final_cypress_project
          browser: chrome
          headless: true

      - name: Upload videos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: final_cypress_project/cypress/videos/

      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: final_cypress_project/cypress/screenshots/
